{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ D20Class.id }}
            {{ D20Class.name }}
        </div>
    </div>
{% endblock %}
