{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <a href="create">create new</a>

            <ul id="navigation">

                {% for D20Class in D20Classes %}
                    <li><a href="{{ D20Class.id }}">{{ D20Class.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
