{% extends 'base.html.twig' %}

{% block body %}

            <a href="create">create new</a>

            <ul id="navigation">

                {% for D20Campaign in D20Campaigns %}
                    <li><a href="{{ D20Campaign.id }}">{{ D20Campaign.name }}</a></li>
                {% endfor %}
            </ul>
{% endblock %}
