{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <a href="create">create new</a>

            <ul id="navigation">

                {% for Campaign in Campaigns %}
                    <li><a href="{{ Campaign.id }}">{{ Campaign.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
