{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ D20Player.id }}
            {{ D20Player.name }}
            {{ D20Player.email }}
        </div>
    </div>
{% endblock %}
