{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <a href="create">create new</a>
            {{ include('default/D20Player/playerlist.html.twig') }}
        </div>
    </div>
{% endblock %}
