{% extends 'base.html.twig' %}

{% block body %}
            <a href="create">create new</a>
            <ul id="navigation">
                {% for D20character in D20characters %}
                    <li><a href="{{ D20character.id }}">{{ D20character.name }} {{ D20character.raceId }} {{ D20character.classId }}</a></li>
                {% endfor %}
            </ul>
{% endblock %}
