{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <a href="create">create new</a>

            <ul id="navigation">
                {% for Item in Items %}
                    <li><a href="{{ Item.id }}">{{ Item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
